{% load staticfiles %}
<!DOCTYPE html>
<html>
<link rel="shortcut icon" href="{%  static 'img/favicon.ico' %}">
<head>
	<title>{% block head_title %}Try Django 1.9{% endblock head_title %}</title>
	<link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
	<link rel="stylesheet" href="{% static "css/bootstrap-theme.css" %}">
	<link rel="stylesheet" href="{% static "css/custom.css" %}">

	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.js' %}"></script>

</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

	
	
{% include "messages_display.html" %}
<div class="container">
	{% block content %}{% endblock content %}
</div>	

<script type="text/javascript">
	{% block script %}
		<script src="{% static "js/jquery.js" %}"></script>
		{% endblock script %}
</script>
</body>
</html>
